<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>840819301428-vvahinl3antlt00om271it76ta8lmca2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.840819301428-vvahinl3antlt00om271it76ta8lmca2</string>
	<key>API_KEY</key>
	<string>AIzaSyCrgcN2DRc_GXGMvL8zoQazugD33QAus_A</string>
	<key>GCM_SENDER_ID</key>
	<string>840819301428</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dallagnese.Campeonato-de-Kart</string>
	<key>PROJECT_ID</key>
	<string>kart-f292b</string>
	<key>STORAGE_BUCKET</key>
	<string>kart-f292b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:840819301428:ios:36c7e216c39df3dd</string>
	<key>DATABASE_URL</key>
	<string>https://kart-f292b.firebaseio.com</string>
</dict>
</plist>